<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Line Graph - {{ session_name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/visualize_data.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
</head>
<body>
    <a href="{{ url_for('visualize_data') }}" class="back-button">
      <i class="fas fa-arrow-left"></i> Back
    </a>

    <h1>Line Graph - {{ session_name }}</h1>

    <div style="margin-top:40px;">
      <img src="{{ line_graph_path }}" alt="Line Graph for {{ session_name }}" style="max-width:800px;">
    </div>
    <div stye="margin-top: 20px;">
        <!-- Buttons to allow the user to switch between graphs-->
        <button onclick="reloadGraph('anger')" style="background:red; color: white; margin: 5px; padding: 10px;"> Anger</button>
        <button onclick="reloadGraph('disgust')" style="background:green; color: white; margin: 5px; padding: 10px;"> Disgust</button>
        <button onclick="reloadGraph('fear')" style="background:lightblue; color: white; margin: 5px; padding: 10px;"> Fear</button>
        <button onclick="reloadGraph('happy')" style="background:gold; color: white; margin: 5px; padding: 10px;"> Happy</button>
        <button onclick="reloadGraph('neutral')" style="background:brown; color: white; margin: 5px; padding: 10px;"> Neutral</button>
        <button onclick="reloadGraph('sad')" style="background:blue; color: white; margin: 5px; padding: 10px;"> Sad</button>
        <button onclick="reloadGraph('surprised')" style="background:purple; color: white; margin: 5px; padding: 10px;"> Surprised</button>
        <button onclick="reloadGraph('all')" style="background:gray; color: white; margin: 5px; padding: 10px;"> Show All</button>
    </div>
    <script>
        // Function to reload the graph on the users input
        function reloadGraph(emotion) {
            const sid = "{{ session_id }}";
            window.location.href = `/line_graph?session_id=${sid}&emotion=${emotion}`;
        }
    </script>
</body>
</html>
